@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.announcement {
  background-color: #94C367;
  position: relative;
}

.announcement .custom-container {
  padding: 0;
  height: 35vh;
}
.event-banner {
  font-family: "Roboto Slab";
}

.carousel-track-container {
  background-color: red;
  height: 100%;
  position: relative;
}

.carousel-track {
  list-style-type: none;
}

.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
}

.carousel-btn-left {
  left: 10px;
}
.carousel-btn-right {
  right: 10px;
}

.event-banner-title::after {
  content: "";
  position: absolute;
  background-color: var(--psuedo-ele-clr);
  height: 2px;
  width: 9%;
  bottom: -11px;
  left: 0;
}
.event-banner-title {
  position: relative;
  margin: 0;
}

.event-img-wrapper {
  display: block;
  cursor: pointer;
  grid-column: 1;
  position: relative;
  z-index: 10;
  width: 300px;
  height: 180px;
  margin: auto;
  margin-bottom: 1.3rem;
}

.event-img-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--psuedo-ele-clr);
  z-index: -1;
  top: 6px;
  left: 6px;
  border-radius: .5rem;
}

.event-img-wrapper > img {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
  border-radius: .5rem;
}

.event-content-container {
  grid-column: 3;
}

.event-body-wrapper {
  --psuedo-ele-clr: rgb(221, 222, 227);
  margin: auto;
  padding: 3rem 0;
  color: #fff;
  // over
}

.withSwitch {
  display: flex; 
  flex-direction: row;
  gap: 1rem;
  width: max-content;
}

// .event-body-container {
//   width: 80vw;
// }

.event-body-container::after, .event-body-container::before {
  display: none;
}

.event-content-container > p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.event-content-container > * + * {
  margin-top: .7rem;
}

.event-content-container .cta-text {
  text-decoration: none;
  display: block;
  color: inherit;
}

.nav-link::after {
  content: "\2192";
  font-family: "icomoon";
  font-size: 16px;
  font-weight: 900;
  margin-left: 6px;
} 

.dots {
  margin: auto;
  width: 70%;
  height: 50px;
  text-align: center;
  list-style-type: none;
}

.dot-wrapper {
  display: inline-block;
  margin: 0px 4px;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  background-color: rgba(255,255,255,0.4);
  cursor: pointer;
}

.dot-active {
  color: #fff;
}

@media screen and (min-width: 800px) {
  .event-body-container {
    display: grid;
    grid-template-columns: 3fr 1fr 6fr;
    align-items: center;
    position: relative;
  } 
  // .dots {
  //   display: none;
  // }

  // .event-body-container::after, .event-body-container::before {
  //   display: block;
  //   --side-offset: -2rem;
  //   position: absolute;
  //   font-size: 1.5rem;
  //   color: var(--psuedo-ele-clr);
  //   font-weight: 900;
  //   cursor: pointer;
  // }
  
  // .event-body-container::before {
  //   content: "<";
  //   left: var(--side-offset);
  // }
  // .event-body-container::after {
  //   content: ">";
  //   position: absolute;
  //   right: var(--side-offset);
  // }
}



// @keyframes tonext {
//   75% {
//     left: 0;
//   }
//   95% {
//     left: 100%;
//   }
//   98% {
//     left: 100%;
//   }
//   99% {
//     left: 0;
//   }
// }

// @keyframes tostart {
//   75% {
//     left: 0;
//   }
//   95% {
//     left: -300%;
//   }
//   98% {
//     left: -300%;
//   }
//   99% {
//     left: 0;
//   }
// }

// @keyframes snap {
//   96% {
//     scroll-snap-align: center;
//   }
//   97% {
//     scroll-snap-align: none;
//   }
//   99% {
//     scroll-snap-align: none;
//   }
//   100% {
//     scroll-snap-align: center;
//   }
// }

// * {
//   box-sizing: border-box;
//   scrollbar-color: transparent transparent; /* thumb and track color */
//   scrollbar-width: 0px;
// }

// *::-webkit-scrollbar {
//   width: 0;
// }

// *::-webkit-scrollbar-track {
//   background: transparent;
// }

// *::-webkit-scrollbar-thumb {
//   background: transparent;
//   border: none;
// }

// * {
//   -ms-overflow-style: none;
// }

// ol, li {
//   list-style: none;
//   margin: 0;
//   padding: 0;
// }

// .carousel {
//   position: relative;
//   padding-top: 75%;
//   filter: drop-shadow(0 0 10px #0003);
//   perspective: 100px;
// }

// .carousel__viewport {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   display: flex;
//   overflow-x: scroll;
//   counter-reset: item;
//   scroll-behavior: smooth;
//   scroll-snap-type: x mandatory;
// }

// .carousel__slide {
//   position: relative;
//   flex: 0 0 100%;
//   width: 100%;
//   background-color: #f99;
//   counter-increment: item;
// }

// .carousel__slide:nth-child(even) {
//   background-color: #99f;
// }

// .carousel__slide:before {
//   content: counter(item);
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate3d(-50%,-40%,70px);
//   color: #fff;
//   font-size: 2em;
// }

// .carousel__snapper {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   scroll-snap-align: center;
// }

// @media (hover: hover) {
//   .carousel__snapper {
//     animation-name: tonext, snap;
//     animation-timing-function: ease;
//     animation-duration: 4s;
//     animation-iteration-count: infinite;
//   }

//   .carousel__slide:last-child .carousel__snapper {
//     animation-name: tostart, snap;
//   }
// }

// @media (prefers-reduced-motion: reduce) {
//   .carousel__snapper {
//     animation-name: none;
//   }
// }

// .carousel:hover .carousel__snapper,
// .carousel:focus-within .carousel__snapper {
//   animation-name: none;
// }

// .carousel__navigation {
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   text-align: center;
// }

// .carousel__navigation-list,
// .carousel__navigation-item {
//   display: inline-block;
// }

// .carousel__navigation-button {
//   display: inline-block;
//   width: 1.5rem;
//   height: 1.5rem;
//   background-color: #333;
//   background-clip: content-box;
//   border: 0.25rem solid transparent;
//   border-radius: 50%;
//   font-size: 0;
//   transition: transform 0.1s;
// }

// .carousel::before,
// .carousel::after,
// .carousel__prev,
// .carousel__next {
//   position: absolute;
//   top: 0;
//   margin-top: 37.5%;
//   width: 4rem;
//   height: 4rem;
//   transform: translateY(-50%);
//   border-radius: 50%;
//   font-size: 0;
//   outline: 0;
// }

// .carousel::before,
// .carousel__prev {
//   left: -1rem;
// }

// .carousel::after,
// .carousel__next {
//   right: -1rem;
// }

// .carousel::before,
// .carousel::after {
//   content: '';
//   z-index: 1;
//   background-color: #333;
//   background-size: 1.5rem 1.5rem;
//   background-repeat: no-repeat;
//   background-position: center center;
//   color: #fff;
//   font-size: 2.5rem;
//   line-height: 4rem;
//   text-align: center;
//   pointer-events: none;
// }

// .carousel::before {
//   background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
// }

// .carousel::after {
//   background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
// }
