@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.announcement {
  background-color: #94C367;
  position: relative;
  padding-top: 5%;
}

.announcement .custom-container {
  padding: 0;
  height: 55vh;
  // chang
}
.event-banner {
  font-family: "Roboto Slab";
}

.carousel-track-container {
  background-color: red;
  height: 80%;
  position: relative;
  overflow: hidden;
  height: 100%;
  position: relative;
}

.carousel-track {
  list-style-type: none;
}

.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  font-size: 1.7rem;
  border: 0;
}

.carousel-btn-left {
  left: 10px;
}
.carousel-btn-right {
  right: 10px;
}

.event-banner-title {
  position: relative;
  margin: 0;
}

.event-banner-title::after {
  content: "";
  position: absolute;
  background-color: var(--psuedo-ele-clr);
  height: 2px;
  width: 9%;
  bottom: -11px;
  left: 0;
}


.event-img-wrapper {
  display: block;
  cursor: pointer;
  grid-column: 1;
  position: relative;
  z-index: 10;
  width: 300px;
  height: 180px;
  margin: auto;
  margin-bottom: 1.3rem;
}

.event-img-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--psuedo-ele-clr);
  z-index: -1;
  top: 6px;
  left: 6px;
  border-radius: .5rem;
}

.event-img-wrapper > img {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
  border-radius: .5rem;
}

.event-content-container {
  grid-column: 3;
}

.event-body-wrapper {
  --psuedo-ele-clr: rgb(221, 222, 227);
  margin: auto;
  padding: 3rem 0;
  color: #fff;
  // over
}

.withSwitch {
  display: flex; 
  flex-direction: row;
  gap: 1rem;
  width: max-content;
}

.currentDot {
  opacity: 1;
}

.event-body-container::after, .event-body-container::before {
  display: none;
}

.event-content-container > p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.event-content-container > * + * {
  margin-top: .7rem;
}

.event-content-container .cta-text {
  text-decoration: none;
  display: block;
  color: inherit;
}

.nav-link::after {
  content: "\2192";
  font-family: "icomoon";
  font-size: 16px;
  font-weight: 900;
  margin-left: 6px;
} 

.dots {
  margin: auto;
  width: 70%;
  height: 50px;
  text-align: center;
  list-style-type: none;
}

.dot-wrapper {
  display: inline-block;
  margin: 0px 4px;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  background-color: rgba(255,255,255);
  opacity: 0.4;
  cursor: pointer;
}

.dot-active {
  color: #fff;
}

@media screen and (min-width: 800px) {
  .event-body-container {
    display: grid;
    grid-template-columns: 3fr 1fr 6fr;
    align-items: center;
    position: relative;
  } 
  .announcement .custom-container {
    padding: 0;
    height: 35vh;
    // chang
  }
  // .dots {
  //   display: none;
  // }

  // .event-body-container::after, .event-body-container::before {
  //   display: block;
  //   --side-offset: -2rem;
  //   position: absolute;
  //   font-size: 1.5rem;
  //   color: var(--psuedo-ele-clr);
  //   font-weight: 900;
  //   cursor: pointer;
  // }
  
  // .event-body-container::before {
  //   content: "<";
  //   left: var(--side-offset);
  // }
  // .event-body-container::after {
  //   content: ">";
  //   position: absolute;
  //   right: var(--side-offset);
  // }
}
