{{#if shouldDisplay}}
<section class="custom-container wrap event-banner">
    <div class="event-body-wrapper">
      <h1 class="event-banner-title">Announcements</h1>
      <div class="event-body-container">
        <a class="event-img-wrapper" href="#">
          <img src="https://goodtogrowproducts.com/wp-content/uploads/2022/01/Grow-Your-Food-Business-e1641532722839.png" alt="" class="event-img">
        </a>
        <div class="event-content-container">
          <h3>Grow Your Food Business</h3>
          <p>If you’re starting a new food and beverage business, the Grow Your Food Business workshop is essential to keeping your business out of the weeds and growing to success.Business planning. We’ll cover:Financial planning Market access R&D, packaging, and labeling Distribution Trade, consumer & digital marketing</p>
          <a class="cta-text" href="https://goodtogrowproducts.com/1dayworkshop/"><b class="nav-link">Learn more</b></a>
        </div>
      </div>
    </div>
  </section>
{{/if}}